</main>
<footer class="page-footer py-3 border-top">
	<div class="d-flex justify-content-center align-items-center content">
		<h3>Are you a journalist?</h3>
		<a href="apply" class="btn btn-outline-primary btn-apply" type="button">Apply to join</a>
	</div>
	<div class="container my-4">
		<div class="links"><a href="news">News</a><a href="contact">Contact</a><a href="login">Login</a></div>
		<div class="social-icons"><a class="me-3" href="#"><i class="icon ion-social-facebook"></i></a><a class="me-3"
				href="#"><i class="icon ion-social-instagram-outline"></i></a><a class="me-3" href="#"><i
					class="icon ion-social-twitter"></i></a></div>
	</div>
</footer>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/pikaday.min.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://unpkg.com/base64-js@1.5.1/base64js.min.js"></script>

<!-- web3auth -->
<script src="https://cdn.jsdelivr.net/npm/@web3auth/modal"></script>
<script src="https://cdn.jsdelivr.net/npm/@web3auth/wallet-services-plugin"></script>
<script src="https://cdn.jsdelivr.net/npm/@web3auth/ethereum-provider"></script>
<script src="https://cdn.jsdelivr.net/npm/web3@4.1.1/dist/web3.min.js"></script>
<script type="module" src="/web3auth/script.js"></script>

<script>
	document.getElementById('thumbs-up').addEventListener('click', function () {
	  this.classList.toggle('active');
	  document.getElementById('thumbs-down').classList.remove('active');
	});
  
	document.getElementById('thumbs-down').addEventListener('click', function () {
	  this.classList.toggle('active');
	  document.getElementById('thumbs-up').classList.remove('active');
	});
  </script>
  


</body>

</html>
