<section class="portfolio-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 p-6">
                <div class="card border-0 p-6 me-6"><img class="card-img" src="/assets/img/template/earth.jpg" alt="Verified news">
                </div>
            </div>
            <div class="col-md-6 col-lg-8 p-6">
                <h3>Verified News</h3>
                <h5 class="text-muted fw-light" >Verified News is committed to delivering reliable and trustworthy journalism. Every article published on our platform undergoes a rigorous fact-checking process and is peer-reviewed by our team of experienced journalists. To ensure transparency and integrity, each article is stored on a blockchain, providing an immutable record of our commitment to truth and accountability. Trust Verified News for accurate and verified information.</h5>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-block projects-cards">
    <div class="container">
        <div class="heading">
            <h3>Top Verified News</h3>
        </div>
		<div class="col-md-6 col-lg-6"" id="article-container">
			<!-- Articles will be inserted here dynamically -->
		</div>
    </div>
</section>

<section class="portfolio-block call-to-action border-bottom">
	<div class="container">
		<div class="d-flex justify-content-center align-items-center content">
			<h3>Want to write articles for this site?</h3><button class="btn btn-outline-primary btn-lg" type="button">Apply to become a Verified News journalist</button>
		</div>
	</div>
</section>
<script type="module" src="/assets/js/forms/article_index.js"></script>
