<section class="portfolio-block limited-width">
    <div class="outer-container">
        <div class="inner-container">
            <div class="row shadow">
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="card border-0"><img class="card-img" src="/assets/img/template/earth.jpg" alt="Verified news"></div>
                </div>
                <div class="col-md-6 col-lg-8 p-3">
                    <h3>Verified News</h3>
                    <h5 class="text-muted fw-light">Verified News delivers reliable journalism with every article undergoing rigorous fact-checking and peer-review. Articles are stored on a blockchain for transparency and integrity, ensuring an immutable record of our commitment to truth.</h5>
					<h5 class="text-muted fw-light">Our dedication to using cutting-edge technologies like Filecoin, Polygon and Web3Auth reflects our mission to redefine journalism in the digital age.</h5>
				</div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-block projects-cards py-1">
    <div class="container">
        <h3 class="text-center my-4">Top Verified News</h3>
        <div class="d-flex flex-wrap justify-content-center" id="article-container">
            <!-- Articles will be inserted here dynamically -->
        </div>
    </div>
</section>

<!-- <div class="d-flex align-items-center flex-column flex-lg-row justify-content-between mt-3">
    <div class="d-flex align-items-center">
        <img src="assets/img/journalist/john-doe.jpg" alt="Author Image" class="rounded-circle" style="width: 50px; height: 50px;">
        <div class="ms-3">
            <p class="mb-0 text-muted fs-5 fw-semibold">Peter Andersson</p>
            <p class="mb-0 text-muted fs-6 fw-semibold">Journalist score: 92</p>
        </div>
    </div>
    <div class="text-muted text-end mt-3 mt-lg-0">
        <p class="mb-0 fs-6 fw-semibold">Article score: 92</p>
        <p class="mb-0">Published: 14/07/2024</p>
    </div>
</div> -->
<script type="module" src="/forms/article_index.js"></script>
