<section class="clean-block about-us">
    <div class="row" style="margin-right: 0px;margin-left: 0px;">
        <div class="col text-center">
            <h2 class="text-info">User Profile</h2>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-right: 0px;margin-left: 0px;">
        <div class="col-sm-6 col-lg-4" style="padding-right: 0px;padding-left: 0px;">
            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block"
                    src="/assets/img/logoComedor/avatar1.jpg">
                <div class="card-body info">
                    <div class="row" style="margin-top: -24px;">
                        <div class="col-md-12" style="margin-top: 22px;">
                            <div class="row">
                                <div class="col">
                                    <p class="labels"><strong>Full Name</strong></p>
                                </div>
                                <div class="col">
                                    <p class="labels"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="labels"><strong>Email</strong></p>
                                </div>
                                <div class="col">
                                    <p class="labels"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="labels"><strong>Wallet Address</strong></p>
                                </div>
                                <div class="col">
                                    <p class="labels"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="labels"><strong>TokenID</strong></p>
                                </div>
                                <div class="col">
                                    <p class="labels"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
