<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading">ERROR: your article has <b>NOT</b> been submitted!</h4>
	<p>An error has occured and your article has NOT been submitted. Please retry your submission and if it still fails contact our support team via the <a href="contact" >contact page</a>.</p>
</div>
