<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">Article submitted!</h4>
	<p>Your article has been submitted successfully and is waiting for review. You will receive a notification when the review process has been completed.</p>
</div>