<section class="portfolio-block">
    <div class="container">
        <div class="heading">
            <h2>Submit Article</h2>
        </div>
        <form id="submit-form" class="shadow-lg" data-bs-theme="light" action="/submit-form" method="POST"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="headline">Article Headline</label>
                <input class="form-control item" type="text" id="headline" name="headline" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="short_text">Article short text description</label>
                <input class="form-control item" type="text" id="short_text" name="short_text" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Thumbnail Image</label>
                <input class="form-control item" type="file" id="image" name="image" required />
            </div>
            <input type="hidden" id="content" name="content" required />
            <div class="mb-3">
                <label class="form-label" for="message">Message</label>
                <div id="editor">
                    <p>Hello World!</p>
                    <p>Some initial <strong>bold</strong> text</p>
                    <p><br /></p>
                </div>
            </div>
            <div class="mb-3 mt-4">
                <button class="btn btn-primary btn-lg d-block w-100" type="submit">
                    Submit Form
                </button>
            </div>
        </form>
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var quill = new Quill("#editor", {
            theme: "snow",
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ["bold", "italic", "underline"],
                    ["image", "code-block"],
                ],
            },
        });

        document
            .getElementById("submit-form")
            .addEventListener("submit", function (e) {
                e.preventDefault();
                var content = quill.root.innerHTML;
                document.getElementById("content").value = content;
                this.submit(); // Submit the form
            });
    });
</script>
